name: Add editorial checklist upon review

on:
  pull_request_review:
    types: [submitted]

jobs:
  add_template:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Check Modified Files
        id: check_files
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Get the changed files in the pull request
          CHANGED_FILES=$(gh pr diff ${{ github.event.pull_request.number }} --name-only)
          if echo "$CHANGED_FILES" | grep -qE '^pages/'; then
            echo "is_pages_changed=TRUE" >> $GITHUB_OUTPUT
          else
            echo "is_pages_changed=FALSE" >> $GITHUB_OUTPUT
          fi

      - name: Parse Checklist
        id: parse_checklist
        if: ${{ steps.check_files.outputs.is_pages_changed == 'TRUE' }}
        run: |
          # Debugging: First, check if the file exists and is readable
          ls -l pages/contribute/editors_checklist.md
          
          # Read the checklist file with more robust sed processing
          CHECKLIST=$(sed -E '/^[0-9]+\./!d; s/^[0-9]+\.\s*-?\s*/- [ ] /' pages/contribute/editors_checklist.md)
          
          # Ensure the checklist is not empty
          if [ -z "$CHECKLIST" ]; then
            echo "No valid checklist items found"
            exit 1
          fi
          
          # Escape special characters for GitHub output
          CHECKLIST="${CHECKLIST//'%'/'%25'}"
          CHECKLIST="${CHECKLIST//$'\n'/'%0A'}"
          CHECKLIST="${CHECKLIST//$'\r'/'%0D'}"
          
          echo "CHECKLIST=$CHECKLIST" >> $GITHUB_OUTPUT


      - name: Add Review Comment
        if: ${{ steps.parse_checklist.outputs.CHECKLIST != '' }}
        uses: actions/github-script@v6
        with:
          script: |
            const checklist = process.env.CHECKLIST;
            const template = `### Review Checklist\n\n${checklist}\n\nPlease refer to the complete [editor's checklist](https://github.com/elixir-europe/rdmkit/edit/master/pages/contribute/editors_checklist.md) for details.`;
            const prNumber = context.payload.pull_request.number;
            const owner = context.payload.pull_request.head.repo.owner.login; // Get code owner
            const repo = context.payload.pull_request.head.repo.name;

            await github.rest.pulls.createReviewComment({
              owner: owner,
              repo: repo,
              pull_number: prNumber,
              body: template,
            })
